In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os

%matplotlib inline
warnings.filterwarnings('ignore')

plt.rcParams['font.family'] = 'DejaVu Sans'

In [2]:
# FinanceDataReader로 데이터를 불러옵니다
# 예측할 종목은 한양증권(001750) 입니다

import FinanceDataReader as fdr
STOCK_CODE = '001750'

In [5]:
# 기간은 1년으로 잡았습니다

stock = fdr.DataReader(STOCK_CODE, '2016-02-04', '2021-02-04')

In [8]:
stock

             Open   High   Low  Close  Volume    Change
Date
2016-02-04   6930   6980  6890   6930   19034  0.008734
2016-02-05   6990   7190  6980   7040   23731  0.015873
2016-02-11   6880   6880  6720   6800   18254 -0.034091
2016-02-12   6740   6740  6450   6600   43774 -0.029412
2016-02-15   6670   6800  6630   6800   26119  0.030303
...           ...    ...   ...    ...     ...       ...
2021-01-29   9550   9600  9150   9260  140327 -0.028332
2021-02-01   9200   9480  9100   9380   81355  0.012959
2021-02-02   9460   9810  9460   9700  105755  0.034115
2021-02-03   9850  10200  9800   9990  170966  0.029897
2021-02-04  10100  10200  9940  10150  133504  0.016016

[1228 rows x 6 columns]